Create inventory

In [ ]:
record = {1001:{'Name':'Orange Juice', 'Category':  'Drink' , 'Price':100, 'qnt':900},
          1002:{'Name':   'Coke'     , 'Category':  'Drink' , 'Price':50, 'qnt':300},
          1003:{'Name':'   Pepsi    ', 'Category':  'Drink' , 'Price':80, 'qnt':200},
          1004:{'Name':'  ThumpsUp  ', 'Category':  'Drink' , 'Price':100, 'qnt':900},
          1005:{'Name':'   Sprite   ', 'Category':  'Drink' , 'Price':60, 'qnt':400},
          1006:{'Name':'   Soda     ', 'Category':  'Drink' , 'Price':30, 'qnt':500},
          1007:{'Name':'   Milk     ', 'Category':  'Dairy' , 'Price':70, 'qnt':100},
          1008:{'Name':'   Cheese   ', 'Category':  'Dairy' , 'Price':300, 'qnt':100},
          1009:{'Name':'    Eggs    ', 'Category':  'Dairy' , 'Price':90, 'qnt':500},
          1010:{'Name':'  Butter    ', 'Category':  'Dairy' , 'Price':400, 'qnt':400},
          1011:{'Name':'  Yogurt    ', 'Category':  'Dairy' , 'Price':150, 'qnt':500},
          1012:{'Name':' ice Cream  ', 'Category':  'Dairy' , 'Price':100, 'qnt':600},
          1013:{'Name':'  Orange    ', 'Category': 'Fruits' , 'Price':200, 'qnt':700},
          1014:{'Name':'  Bananas   ', 'Category': 'Fruits' , 'Price':30, 'qnt':500},
          1015:{'Name':'   Apple    ', 'Category': 'Fruits' , 'Price':300, 'qnt':300},
          1016:{'Name':'   Grapes   ', 'Category': 'fruits' , 'Price':100, 'qnt':500},
          1017:{'Name':' Pineapple  ', 'Category': 'fruits' , 'Price':100, 'qnt':200},
          1018:{'Name':' Watermelon ', 'Category': 'fruits' , 'Price':80, 'qnt':100},
          1019:{'Name':'   Mango    ', 'Category': 'fruits' , 'Price':200, 'qnt':200},
          1020:{'Name':'   Lemon    ', 'Category': 'fruits' , 'Price':100, 'qnt':500},
          1021:{'Name':'  Papaya    ', 'Category': 'fruits' , 'Price':60, 'qnt':300},
          1022:{'Name':' Strawberry ', 'Category': 'fruits' , 'Price':500, 'qnt':500},
          1023:{'Name':' Cauliflower', 'Category':'vegetable', 'Price':25, 'qnt':600},
          1024:{'Name':'  Tomato    ', 'Category':'vegetable', 'Price':60, 'qnt':800},
          1025:{'Name':'   onion    ', 'Category':'vegetable', 'Price':50, 'qnt':100},
          1026:{'Name':'    potato  ', 'Category':'vegetable', 'Price':40, 'qnt':100},
          1027:{'Name':'  spinach   ', 'Category':'vegetable', 'Price':10, 'qnt':100},
          1028:{'Name':'  Broccoli  ', 'Category':'vegetable', 'Price':40, 'qnt':200},
          1029:{'Name':' Mushroom   ', 'Category':'vegetable', 'Price':80, 'qnt':100},
          1030:{'Name':'  Capsicum  ', 'Category':'vegetable', 'Price':20, 'qnt':200},
          1031:{'Name':'   Maggie   ', 'Category':'prcessed', 'Price':100, 'qnt':900},
          1032:{'Name':'    lays    ', 'Category':'prcessed', 'Price':10, 'qnt':1000},
          1033:{'Name':' kurkure    ', 'Category':'prcessed', 'Price':10, 'qnt':2000},
          1034:{'Name':'   Bingo    ', 'Category':'prcessed', 'Price':10, 'qnt':1000},
          1035:{'Name':'cadbury oreo', 'Category':'prcessed', 'Price':60, 'qnt':1000},
          1036:{'Name':'  parle-g   ', 'Category':'prcessed', 'Price':10, 'qnt':2000},
          1037:{'Name':'KrackJack   ', 'Category':'prcessed', 'Price':5, 'qnt':5000},
          1038:{'Name':' Moms Magic ', 'Category':'prcessed', 'Price':30, 'qnt':3000},
          1039:{'Name':'  Bourbon   ', 'Category':'prcessed', 'Price':10, 'qnt':900},
          1040:{'Name':' Kit Kat    ', 'Category':'prcessed', 'Price':20, 'qnt':800},
          1041:{'Name':'   Snickers ', 'Category':'prcessed', 'Price':45, 'qnt':700},
          1042:{'Name':' Dairy Milk ', 'Category':'prcessed', 'Price':50, 'qnt':1000},
          1043:{'Name':'DarkChocolate', 'Category':'prcessed', 'Price':35, 'qnt':900},
          1045:{'Name':'  Bread     ', 'Category':'prcessed', 'Price':60, 'qnt':300},
          1046:{'Name':'   Cake     ', 'Category':'prcessed', 'Price':100, 'qnt':500},
          1047:{'Name':'   pasta    ', 'Category':'prcessed', 'Price':40, 'qnt':500},
          1048:{'Name':'  britannia ', 'Category':'prcessed', 'Price':10, 'qnt':600},
          1049:{'Name':'  Noodles   ', 'Category':'prcessed', 'Price':20, 'qnt':500},
          1050:{'Name':'  YiPPee    ', 'Category':'prcessed', 'Price':20, 'qnt':900}

}

In [ ]:
import json

In [ ]:
js = json.dumps(record)

In [ ]:
js

'{"1001": {"Name": "Orange Juice", "Category": "Drink", "Price": 100, "qnt": 900}, "1002": {"Name": "Coke", "Category": "Drink", "Price": 50, "qnt": 300}, "1003": {"Name": "   Pepsi    ", "Category": "Drink", "Price": 80, "qnt": 200}, "1004": {"Name": "  ThumpsUp  ", "Category": "Drink", "Price": 100, "qnt": 900}, "1005": {"Name": "   Sprite   ", "Category": "Drink", "Price": 60, "qnt": 400}, "1006": {"Name": "   Soda     ", "Category": "Drink", "Price": 30, "qnt": 500}, "1007": {"Name": "   Milk     ", "Category": "Dairy", "Price": 70, "qnt": 100}, "1008": {"Name": "   Cheese   ", "Category": "Dairy", "Price": 300, "qnt": 100}, "1009": {"Name": "    Eggs    ", "Category": "Dairy", "Price": 90, "qnt": 500}, "1010": {"Name": "  Butter    ", "Category": "Dairy", "Price": 400, "qnt": 400}, "1011": {"Name": "  Yogurt    ", "Category": "Dairy", "Price": 150, "qnt": 500}, "1012": {"Name": " ice Cream  ", "Category": "Dairy", "Price": 100, "qnt": 600}, "1013": {"Name": "  Orange    ", "Category": "Fruits", "Price": 200, "qnt": 700}, "1014": {"Name": "  Bananas   ", "Category": "Fruits", "Price": 30, "qnt": 500}, "1015": {"Name": "   Apple    ", "Category": "Fruits", "Price": 300, "qnt": 300}, "1016": {"Name": "   Grapes   ", "Category": "fruits", "Price": 100, "qnt": 500}, "1017": {"Name": " Pineapple  ", "Category": "fruits", "Price": 100, "qnt": 200}, "1018": {"Name": " Watermelon ", "Category": "fruits", "Price": 80, "qnt": 100}, "1019": {"Name": "   Mango    ", "Category": "fruits", "Price": 200, "qnt": 200}, "1020": {"Name": "   Lemon    ", "Category": "fruits", "Price": 100, "qnt": 500}, "1021": {"Name": "  Papaya    ", "Category": "fruits", "Price": 60, "qnt": 300}, "1022": {"Name": " Strawberry ", "Category": "fruits", "Price": 500, "qnt": 500}, "1023": {"Name": " Cauliflower", "Category": "vegetable", "Price": 25, "qnt": 600}, "1024": {"Name": "  Tomato    ", "Category": "vegetable", "Price": 60, "qnt": 800}, "1025": {"Name": "   onion    ", "Category": "vegetable", "Price": 50, "qnt": 100}, "1026": {"Name": "    potato  ", "Category": "vegetable", "Price": 40, "qnt": 100}, "1027": {"Name": "  spinach   ", "Category": "vegetable", "Price": 10, "qnt": 100}, "1028": {"Name": "  Broccoli  ", "Category": "vegetable", "Price": 40, "qnt": 200}, "1029": {"Name": " Mushroom   ", "Category": "vegetable", "Price": 80, "qnt": 100}, "1030": {"Name": "  Capsicum  ", "Category": "vegetable", "Price": 20, "qnt": 200}, "1031": {"Name": "   Maggie   ", "Category": "prcessed", "Price": 100, "qnt": 900}, "1032": {"Name": "    lays    ", "Category": "prcessed", "Price": 10, "qnt": 1000}, "1033": {"Name": " kurkure    ", "Category": "prcessed", "Price": 10, "qnt": 2000}, "1034": {"Name": "   Bingo    ", "Category": "prcessed", "Price": 10, "qnt": 1000}, "1035": {"Name": "cadbury oreo", "Category": "prcessed", "Price": 60, "qnt": 1000}, "1036": {"Name": "  parle-g   ", "Category": "prcessed", "Price": 10, "qnt": 2000}, "1037": {"Name": "KrackJack   ", "Category": "prcessed", "Price": 5, "qnt": 5000}, "1038": {"Name": " Moms Magic ", "Category": "prcessed", "Price": 30, "qnt": 3000}, "1039": {"Name": "  Bourbon   ", "Category": "prcessed", "Price": 10, "qnt": 900}, "1040": {"Name": " Kit Kat    ", "Category": "prcessed", "Price": 20, "qnt": 800}, "1041": {"Name": "   Snickers ", "Category": "prcessed", "Price": 45, "qnt": 700}, "1042": {"Name": " Dairy Milk ", "Category": "prcessed", "Price": 50, "qnt": 1000}, "1043": {"Name": "DarkChocolate", "Category": "prcessed", "Price": 35, "qnt": 900}, "1045": {"Name": "  Bread     ", "Category": "prcessed", "Price": 60, "qnt": 300}, "1046": {"Name": "   Cake     ", "Category": "prcessed", "Price": 100, "qnt": 500}, "1047": {"Name": "   pasta    ", "Category": "prcessed", "Price": 40, "qnt": 500}, "1048": {"Name": "  britannia ", "Category": "prcessed", "Price": 10, "qnt": 600}, "1049": {"Name": "  Noodles   ", "Category": "prcessed", "Price": 20, "qnt": 500}, "1050": {"Name": "  YiPPee    ", "Category": "prcessed", "Price": 20, "qnt": 900}}'

In [ ]:
fd = open("record.json", 'w')
fd.write(js)
fd.close()

Purchase

In [20]:
ui_prod  = int(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", record[ui_prod]['Name'])
print("Price: ", record[ui_prod]['Price'])
print("**************************")
print(" **Billing Amount: ", record[ui_prod]['Price'] * ui_quant)
print("**************************")

record[ui_prod]['qnt'] = record[ui_prod]['qnt'] - ui_quant

Enter the product_Id: 1002
Enter the quantity: 20
Product:  Coke
Price:  50
**************************
 **Billing Amount:  1000
**************************

Updated Inventory

In [22]:
js = json.dumps(record)

fd = open("sales.json",'w')
fd.write(js)
fd.close()